<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">
            <h2 align="center">About & Contact Us</h2>
            </p>
        </div>
    </div>
<p class="text-center text-muted">© Copyright 2021 iuranku.com</p>