<meta charset="UTF-8">
<title>iuranku</title>

<!-- CSS (load bootstrap from a CDN) -->
<meta charset="UTF-8" />
<meta name="theme-color" content="#374151">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<title>
    iuranku | platform mencari teman akun keluarga
</title>
<meta name="description" content="Sebuah platform dimana kamu akan dipertemukan dengan user lain untuk membuka akun keluarga bersama. Support dan pembayaran kami yang urus secara profesional dan aman." />
<meta name="keywords" content="akun keluarga, netflix, spotify, youtube, yt, premium murah, akun keluarga murah, beli akun keluarga, beli akun, akun murah, beli akun netflix, beli akun spotify, beli akun youtube, beli akun yt, murah, akun netflix murah, akun spotify murah, akun youtube murah" />
<meta name="author" content="iuranku.com" />

<meta property="og:title" content="iuranku | platform mencari teman akun keluarga">
<meta property="og:description" content="Sebuah platform dimana kamu akan dipertemukan dengan user lain untuk membuka akun keluarga bersama. Support dan pembayaran kami yang urus secara profesional dan aman.">
<meta property="og:image" content="https:iuranku.com/images/logo.png">
<meta property="og:url" content="<%= route.href %>">

<link rel="stylesheet" href="/styles/style.css" />
<link rel="shorcut icon" type="image/png" href="/images/logo.png" />

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
<!-- Define your gradient here - use online tools to find a gradient matching your branding-->
<style>
    .gradient {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    }
</style>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P794S33');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P794S33"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
