<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h2 class="text-center">Berlangganan Bersama, Lebih Praktis, Aman dan Murah</h2>
        <p class="text-justify">Platform yang memberikan layanan Berlangganan Bersama dengan
         pengguna lain (sharing subscription) ke Penyedia Layanan Entertainment (Provider 
         Entertainment) Netflix dan Spotify agar dapat 
         menikmati fitur premium, dengan proses berlangganan yang praktis, legal, aman dan murah. </p>
         <p align="center"><button><a href="/daftar"><b>Daftar sekarang</b></a></button></p>
    </div>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>