<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">


<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="pt-24">
    </div>

    <div class="bg-gray-200">
        <div class="bg-gray-200 container w-full md:max-w-3xl mx-auto pt-20">
            <div class="bg-white w-full text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif; margin-bottom: 24px;">
                
                <!-- Netflix -->
                <div class="w-full rounded overflow-hidden shadow-lg my-2">
                    <img loading="lazy" class="w-full" src="/images/netflix-harga.png" alt="netflix-harga">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl text-m mb-2">Netflix</div>
                            <p class="text-grey-darker text-base">
                                <strong>Detail harga</strong></p>
                            <table class="w-full text-base">

                                <tr>
                                    <td>
                                        Harga akun keluarga
                                    </td>
                                    <td class="text-right">
                                        Rp 186.000
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Max jumlah anggota akun keluarga
                                    </td>
                                    <td class="text-right">
                                        5 orang
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Besar iuran setiap anggota perbulan
                                    </td>
                                    <td class="text-right">
                                        Rp 186.000 / 5 = Rp 37.200
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Biaya admin
                                    </td>
                                    <td class="text-right">
                                        Rp 6.800
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>Total iuran setiap anggota perbulan</strong>
                                    </td>
                                    <td class="text-right">
                                        <strong>Rp 44.000</strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                    </td>
                                    <td class="text-right py-6">
                                        <a href="/daftar" class="gradient mx-auto lg:mx-0 hover:underline bg-white text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                            Daftar
                                          </a>
                                    </td>
                                </tr>

                            </table>
                    </div>
                </div>
            </div>

                <!-- Spotify -->
            <div class="bg-white w-full text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif; margin-bottom: 24px;">
                <div class="w-full rounded overflow-hidden shadow-lg my-2">
                    <img loading="lazy" class="w-full" src="/images/spotify-harga.png" alt="spotify-harga">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl text-m mb-2">Spotify</div>
                            <p class="text-grey-darker text-base">
                                <strong>Detail harga</strong></p>
                            <table class="w-full text-base">

                                <tr>
                                    <td>
                                        Harga akun keluarga
                                    </td>
                                    <td class="text-right">
                                        Rp 79.000
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Max jumlah anggota akun keluarga
                                    </td>
                                    <td class="text-right">
                                        6 orang
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Besar iuran setiap anggota perbulan
                                    </td>
                                    <td class="text-right">
                                        Rp 79.000 / 6 = Rp 13.200
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Biaya admin
                                    </td>
                                    <td class="text-right">
                                        Rp 6.800
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>Total iuran setiap anggota perbulan</strong>
                                    </td>
                                    <td class="text-right">
                                        <strong>Rp 20.000</strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                    </td>
                                    <td class="text-right py-6">
                                        <a href="/daftar" class="gradient mx-auto lg:mx-0 hover:underline bg-white text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                            Daftar
                                          </a>
                                    </td>
                                </tr>

                            </table>
                    </div>
                </div>
            </div>

                <!-- Youtube -->
            <div class="bg-white w-full text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">
                <div class="w-full rounded overflow-hidden shadow-lg my-2">
                    <img loading="lazy" class="w-full" src="/images/youtube-harga.png" alt="youtube-harga">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl text-m mb-2">YouTube</div>
                            <p class="text-grey-darker text-base">
                                <strong>Detail harga</strong></p>
                            <table class="w-full text-base">

                                <tr>
                                    <td>
                                        Harga akun keluarga
                                    </td>
                                    <td class="text-right">
                                        Rp 89.000
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Max jumlah anggota akun keluarga
                                    </td>
                                    <td class="text-right">
                                        5 orang
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Besar iuran setiap anggota perbulan
                                    </td>
                                    <td class="text-right">
                                        Rp 89.000 / 5 = Rp 17.800   
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Biaya admin
                                    </td>
                                    <td class="text-right">
                                        Rp 6.800
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <strong>Total iuran setiap anggota perbulan</strong>
                                    </td>
                                    <td class="text-right">
                                        <strong>Rp 24.600</strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td>

                                    </td>
                                    <td class="text-right py-6">
                                        <a href="/daftar" class="gradient mx-auto lg:mx-0 hover:underline bg-white text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                                            Daftar
                                          </a>
                                    </td>
                                </tr>

                            </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>