<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">


<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="pt-24">
    </div>

    <div class="relative -mt-12 lg:-mt-24">
        <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
              <path
                d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
                opacity="0.100000001"
              ></path>
              <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" id="Path-4" opacity="0.200000003"></path>
            </g>
            <g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <path
                d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"
              ></path>
            </g>
          </g>
        </svg>
    </div>
    <div class="bg-white">
    <div class="bg-white container w-full md:max-w-3xl mx-auto pt-20">

      <div class="bg-white w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">
        <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">Privacy</h1>
        <blockquote>
            <h2 class='py-2 font-sans'>1.Pengumpulan Informasi</h2>
            <p class='py-6'>Kami mengumpulkan informasi dari Anda ketika Anda mendaftar pada situs kami, masuk ke akun Anda, melakukan pembelian, ikut dalam kontes, dan/atau ketika Anda keluar. Data yang dikumpulkan mencakup nama Anda, alamat email dan nomor telepon.</p>
            <p class='py-6'>Selain itu, kami menerima dan merekam informasi secara otomatis dari komputer dan peramban Anda, termasuk alamat IP Anda, perlengakapan perangkat keras dan lunak Anda, dan halaman yang Anda minta.</p>
        </blockquote>
        <h3></h3>
        <blockquote>
            <h2 class='py-2 font-sans'>2. Penggunaan Informasi</h2>
            <p class='py-6'>Segala informasi yang kami kumpulkan dari Anda dapat digunakan untuk:</p>
            <ul>
                <li>Personalisasi pengalaman dan tanggapan Anda sesuai kebutuhan pribadi Anda</li>
                <li>Menyediakan konten iklan yang disesuaikan</li>
                <li>Meningkatkan situs web kami</li>
                <li>Meningkatkan layanan pelanggan dan mendukung kebutuhan Anda</li>
                <li>Menghubungi Anda lewat email</li>
                <li>Mengatur kontes, promo, atau survei</li>
            </ul>
        </blockquote>
        <blockquote>
            <h2 class='py-2 font-sans'>3. Privasi E-Dagang</h2>
            <p class='py-6'>Kami adalah pemilik tunggal dari informasi yang dikumpulkan pada situs ini. Informasi pribadi Anda yang dapat diidentifikasi tidak akan dijual, dipertukarkan, ditransfer, atau diberikan kepada perusahaan lain dengan alasan apa pun juga, tanpa mendapatkan izin Anda, selain dari hanya semata-mata untuk memenuhi permohonan dan/ atau transaksi, misalnya untuk pengiriman pesanan.</p>
        </blockquote>
        <h3></h3>
        <blockquote>
            <h2 class='py-2 font-sans'>4. Pengungkapan Pihak Ketiga</h2>
            <p class='py-6'>Kami tidak menjual, memperdagangkan, atau pun memindahkan keluar dari pihak kami informasi pribadi Anda yang dapat diidentifikasi. Kami tidak mengikutkan pihak ketiga tepercaya yang membantu kami dalam mengoperasikan situs web kami atau menyelenggarakan bisnis kami, selama semua pihak setuju untuk menjaga kerahasiaan informasi ini.</p>
            <p class='py-6'>Kami meyakini akan pentingnya berbagi informasi dalam rangka menyelidiki, mencegah, atau mengambil tindakan menyangkut aktivitas ilegal, dugaan penipuan, keadaan yang melibatkan ancaman terhadap keamanan fisik seseorang, pelanggaran atas syarat-syarat penggunaan kami, atau hal lain yang diwajibkan oleh hukum.</p>
            <p class='py-6'>Namun, informasi bukan privat dapat diberikan kepada pihak lain untuk pemasaran, pariwara, atau penggunaan lain.</p>
        </blockquote>
        <h3></h3>
        <blockquote>
            <h2 class='py-2 font-sans'>5. Proteksi Informasi</h2>
            <p class='py-6'>Kami menerapkan berbagai langkah keamanan guna menjaga keamanan informasi pribadi Anda. Kami menggunakan enripsi teknologi mutakhir untuk memproteksi informasi sensitif yang dikirimkan secara online. VpnMentor juga memproteksi informasi Anda secara offline. Kami mengaryakan mereka yang perlu mengerjakan pekerjaan khusus (contohnya, penagihan atau layanan pelanggan) diberikan akses ke informasi pribadi yang dapat diidentifikasi. Komputer/server yang digunakan untuk menyimpan informasi pribadi yang dapat diidentifikasi disimpan dalam lingkungan yang aman.</p>
            <h2 class='py-2 font-sans'>Apakah kami menggunakan cookie?</h2>
            <p class='py-6'>Ya. cookie kami meningkatkan akses ke situs kami dan mengenali pengunjung yang kembali lagi. Lagi pula, cookie kami memperkaya pengalaman pengguna dengan melacak dan menarget minat mereka. Namun, penggunaan cookie ini, tidak mungkin dapat dikaitkan dengan informasi pribadi yang dapat diidentifikasi pada situs kami.</p>
        </blockquote>
        <blockquote>
            <h2 class='py-2 font-sans'>6. Berhenti Berlangganan</h2>
            <p class='py-6'>Kami menggunakan alamat email yang Anda berikan untuk mengirimi Anda informasi dan pembaruan menyangkut pesanan Anda, berita berkala perusahaan, informasi mengenai produk, dll. Bila kapan saja Anda ingin berhenti menerima email kami di masa mendatang, kami memasukkan informasi mendetail informasi berhenti berlangganan di bawah tiap-tiap email.</p>
        </blockquote>
        <h3></h3>
        <blockquote>
            <h2 class='py-2 font-sans'>7. Persetujuan</strong><br>
                Dengan menggunakan situs kami, Anda setuju dengan kebijakan privasi kami.
            </p>
        </blockquote>
    </div>
    </div>
  </div>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>