<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron">           
            <p class="text-center"><img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c529.png" width="300" alt="Waiting for connection"><br> <br> <br> <br>          
             <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_CMYK_Green.png" width="300" alt="Waiting for connection"><br> <br> <br> <br>
            <img src="https://www.pngkey.com/png/full/13-138700_youtube-logo-png-transparent-background.png" width="300" style="filter: grayscale(100%);" alt="Waiting for connection"></p>
        </div>   
    </div>
</div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>