<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <div class="col-sm-12">
            <h2 class="text-center">Service</h2>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p class="text-justify">Platform yang memberikan layanan Berlangganan Bersama dengan
                pengguna lain (sharing subscription) ke Penyedia Layanan Entertainment (Provider 
                Entertainment) Netflix dan Spotify agar dapat 
                menikmati fitur premium, dengan proses berlangganan yang praktis, legal, aman dan murah. </p> 
            </div>
            <div class="col-sm-6">
                <img src="https://image.freepik.com/free-vector/customer-support-representatives-working-call-center_74855-6340.jpg" width="500" alt="Waiting for connection">             
            </div>
        </div>
        <div class="col-sm-12">
            <h2 class="text-center">Service</h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="https://image.freepik.com/free-vector/customer-support-representatives-working-call-center_74855-6340.jpg" width="350" alt="Waiting for connection">             
            </div>
            <div class="col-sm-8">
                <p class="text-justify">Platform yang memberikan layanan Berlangganan Bersama dengan
                pengguna lain (sharing subscription) ke Penyedia Layanan Entertainment (Provider 
                Entertainment) Netflix dan Spotify agar dapat 
                menikmati fitur premium, dengan proses berlangganan yang praktis, legal, aman dan murah. </p> 
            </div>       
        </div>
        <div class="col-sm-12">
            <h2 class="text-center">Service</h2>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img src="https://image.freepik.com/free-vector/customer-support-representatives-working-call-center_74855-6340.jpg" width="200" alt="Waiting for connection">             
            </div>
            <div class="col-sm-3">
                <img src="https://image.freepik.com/free-vector/customer-support-representatives-working-call-center_74855-6340.jpg" width="200" alt="Waiting for connection">             
            </div>
            <div class="col-sm-3">
                <img src="https://image.freepik.com/free-vector/customer-support-representatives-working-call-center_74855-6340.jpg" width="200" alt="Waiting for connection">             
            </div>
            <div class="col-sm-3">
                <img src="https://image.freepik.com/free-vector/customer-support-representatives-working-call-center_74855-6340.jpg" width="200" alt="Waiting for connection">             
            </div>      
        </div>
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>