<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">


<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="pt-24">
    </div>

    <div class="relative -mt-12 lg:-mt-24">
        <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
              <path
                d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
                opacity="0.100000001"
              ></path>
              <path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" id="Path-4" opacity="0.200000003"></path>
            </g>
            <g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
              <path
                d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"
              ></path>
            </g>
          </g>
        </svg>
    </div>

    <div class="bg-white">
      <div class="bg-white container w-full md:max-w-3xl mx-auto pt-20">
        <div class="bg-white w-full px-4 md:px-6 text-xl text-gray-800 leading-normal" style="font-family:Georgia,serif;">
          <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">Terms and conditions</h1>
          <div class="nuke-wysiwyg">
            <p class="py-6">
              Anda harus membaca, memahami, menerima dan menyetujui semua persyaratan dan ketentuan dalam Perjanjian ini sebelum menggunakan aplikasi dan/atau menerima konten yang terdapat di dalamnya. Dengan mengakses atau menggunakan situs iuranku.com, Pengguna dianggap telah memahami dan menyetujui semua isi dalam syarat dan ketentuan di bawah ini. Syarat dan ketentuan dapat diubah atau diperbaharui sewaktu-waktu tanpa ada pemberitahuan terlebih dahulu. Perubahan dari syarat dan ketentuan akan segera berlaku setelah dicantumkan di dalam situs iuranku.com. Jika Pengguna merasa keberatan terhadap syarat dan ketentuan yang kami ajukan dalam Perjanjian ini, maka kami anjurkan untuk tidak menggunakan situs ini.
            </p>
            <p class="py-6">
              <strong>I. &nbsp;Sistem Pelayanan</strong>
            </p>
            <ol class="list-decimal list-inside">
              <li class="py-2">
                Belanja online melalui website iuranku.com dapat dilakukan setiap waktu, 24 jam dan 7 hari dalam seminggu, namun untuk pemesanan di luar jam operasional, barang yang di pesan akan masuk dalam antrian pemesanan dan akan kami proses pada hari berikutnya.&nbsp;
              </li>
              <li class="py-2">
                Waktu operasional pelayanan pelanggan iuranku.com yang dapat dihubungi melalui Customer Service dan Email adalah dari jam 09:00 – 22:00 WIB (Setiap hari).
              </li>
              <li class="py-2">
                Apabila terjadi gangguan koneksi pada jaringan system belanja online maka pelanggan tidak dapat melalukan proses pemesanan online pada iuranku.com sementara waktu.
              </li>
            </ol>
            <p class="py-6">
              <strong>II. Keanggotaan</strong>
            </p>
            <ol class="list-decimal list-inside">
              <li class="py-2">
                Semua data harus diisi dengan lengkap dan benar serta tidak menyalahgunakan data termasuk (namun tidak terbatas pada) nomor telepon, email, dan alamat milik orang lain dengan alasan dan tujuan apapun. Pelanggan bersedia dituntut secara hukum oleh pemilik data yang sah dan iuranku.com berhak mencabut hak keanggotaan dan atau memilih langkah hukum untuk pelanggaran ini.
              </li>
              <li class="py-2">
                iuranku.com akan menghubungi pelanggan untuk melakukan verifikasi identitas pelanggan jika dirasakan data yang dimasukkan tidak valid atau perlu diverifikasi.
              </li>
              <li class="py-2">
                Setiap anggota bertanggung jawab sepenuhnya terhadap password dan penggunaan akunnya. Penyalahgunaan akun oleh pihak lain di luar tanggung jawab pihak iuranku.com.
              </li>
              <li class="py-2">
                Anggota iuranku.com setuju untuk tidak menyalahgunakan fasilitas dan fitur yang ada untuk merugikan manapun juga, individu maupun kelompok.
              </li>
              <li class="py-2">
                iuranku.com sangat menyarankan Pelanggan untuk mempelajari setiap detil cara berinteraksi dan data yang tersedia pada website untuk meminimalisasi terjadinya kerugian pada pelanggan. Perlu disadari bahwa resiko menemukan data atau member yang beritikad tidak baik tetap ada. Dengan menyetujui Petunjuk dan Aturan ini, Pelanggan menerima bahwa pihak iuranku.com tidak bertanggung jawab terhadap kesalahan spesifikasi, gambar, kondisi dan kerugian-kerugian lain yang diderita berkaitan dengan resiko tersebut.
              </li>
              <li class="py-2">
                Pihak iuranku.com berhak kapanpun dan dengan alasan apapun, mengubah bagian manapun dalam Syarat dan Kondisi ini dan setiap anggota menyetujuinya.
              </li>
              <li class="py-2">
                Dengan sebab dan alasan apapun yang tidak perlu disosialisasikan lebih lanjut, Pihak iuranku.comberhak mengubah, menambah atau mengurangi fitur dan menutup website iuranku.com dan setiap anggota menyetujui serta membebaskan pihak iuranku.com dari segala tuntutan baik pidana maupun gugatan secara perdata.
              </li>
            </ol>
            <p class="py-6">
              <strong>II. &nbsp;Prosedur Pemesanan&nbsp;</strong>
            </p>
            <ol class="list-decimal list-inside">
              <li class="py-2">
                Pelanggan dianggap telah mempelajari keterangan mengenai produk yang ditampilkan pada website iuranku.com seperti keterangan mengenai harga dan spesifikasi produk.
              </li>
              <li class="py-2">
                Kesalahan penulisan yang menyebabkan informasi detil seperti harga dan informasi produk lainnya menjadi tidak benar dianggap tidak berlaku.
              </li>
              <li class="py-2">
                Pelanggan diwajibkan menjadi member pada website iuranku.com untuk dapat melakukan transaksi belanja online.
              </li>
              <li class="py-2">
                Pelanggan dapat melakukan pemesanan produk secara online dengan menggunakan sistem shopping cart, selanjutnya memilih lokasi pengiriman dan kemudian mengecek total harga pada sistem shopping cart.
              </li>
              <li class="py-2">
                Pelanggan membayar sebagai kesediaan dan persetujuan transaksi pemesanan sebesar nilai transaksi tersebut.
              </li>
              <li class="py-2">
                iuranku.com berhak menolak transaksi pelanggan apabila dianggap tidak sesuai.
              </li>
            </ol>
            <p class="py-6">
              <strong>III. &nbsp;Pembayaran</strong>
            </p>
            <ol class="list-decimal list-inside">
              <li class="py-2">
                Mata uang yang dipakai untuk proses belanja online adalah Rupiah (Rp).
              </li>
              <li class="py-2">
                Metode pembayaran yang tersedia adalah dengan (via Midtrans):
                <ul class="pl-8 list-disc list-inside">
                  <li class="py-2">
                    Ovo
                  </li>
                  <li class="py-2">
                    Gopay
                  </li>
                  <li class="py-2">
                    Dana
                  </li>
                  <li class="py-2">
                    Transafer ke Bank BCA
                  </li>
                </ul>
              </li>
              <li class="py-2">
                Pelanggan berhak memilih salah satu metode pembayaran dianggap paling nyaman dan paling memudahkan.
              </li>
              <li class="py-2">
                Pelanggan wajib membayar penuh biaya pemesanan yang timbul dari proses belanja online.
              </li>
            </ol>
            <p class="py-6">
              <strong>IV. &nbsp;Pengiriman Produk&nbsp;</strong>
            </p>
            <ol class="list-decimal list-inside">
              <li class="py-2">
                Pengiriman produk akan dilakukan setelah iuranku.com mendapatkan dana pelanggan sesuai dengan nilai barang yang dibeli.
              </li>
              <li class="py-2">
                Barang akan dikirimkan ke alamat yang telah ditentukan oleh pelanggan sebelumnya, kami tidak menerima alamat pengiriman ketujuan berikut : PO BOX dan Hotel (tamu).
              </li>
              <li class="py-2">
                Kesalahan dalam penentuan alamat oleh pelanggan yang mengakibatkan barang pesanan menjadi tidak sampai bukan menjadi tanggung jawab iuranku.com.
              </li>
              <li class="py-2">
                Komplain tentang barang yang tidak sampai maksimal diajukan 1 bulan semenjak transaksi belanja online dilakukan. &nbsp;
              </li>
              <li class="py-2">
                Segala bentuk komplain atas pengiriman akan menjadi tanggung jawab jasa kurir yang bekerja sama dengan iuranku.com.
              </li>
              <li class="py-2">
                Pelanggan dapat mengetahui status pesanan dengan menggunakan fasilitas Order Tracking dari website iuranku.com atau website kurir. &nbsp; &nbsp;
              </li>
              <li class="py-2">
                Biaya pengiriman produk akan dikenakan kepada pelanggan. Mekanisme biaya sepenuhnya menyesuaikan dengan biaya jasa kurir yang digunakan iuranku.com.
              </li>
            </ol>
            <p class="py-6">
              <strong>VI. &nbsp; Pembatalan Transaksi</strong>
            </p>
            <ol class="list-decimal list-inside">
              <li class="py-2">
                Pembatalan atas produk yang telah dipesan hanya dapat dilakukan dengan menghubungi kami melalui telepon Customer Care 083894797053, email <a href="mailto:support@iuranku.com">support@iuranku.com</a> dan halaman Contact Us yang terdapat di website iuranku.com.
              </li>
              <li class="py-2">
                iuranku.com tidak akan melayani klaim pelanggan atas transaksi online yang terjadi karena penyalahgunaan kartu kredit. Pelanggan bertanggung jawab sepenuhnya atas kepemilikan kartu kredit tersebut.
              </li>
              <li class="py-2">
                Pembatalan transaksi yang disebabkan karena kesalahan spesifikasi produk dan stok habis tidak akan dikenakan biaya apapun dan uang akan kembali utuh, termasuk biaya pengiriman kembali oleh pelanggan (jika ada). &nbsp;&nbsp;
              </li>
              <li class="py-2">
                Pembatalan transaksi hanya dapat dilakukan apabila barang belum dikirim oleh iuranku.com, untuk transaksi yang dibatalkan akan dikenakan denda pembatalan yang besarnya telah ditentukan, yaitu 5% dari nilai transaksi atau 8.5% dari nilai transaksi menggunakan pembayaran dengan kartu kredit.
              </li>
            </ol>
            <p class="py-6">
              <strong>VII. &nbsp;Gambaran &nbsp;dan &nbsp;Kondisi &nbsp;Produk&nbsp;</strong>
            </p>
            <ol class="list-decimal list-inside">
              <li class="py-2">
                iuranku.com akan menyajikan data seakurat mungkin dengan update yang di lakukan secara berkala, sehingga data dapat berubah sewaktu-waktu.
              </li>
              <li class="py-2">
                Status barang ditampilkan seakurat mungkin dengan periodik update dan sewaktu-waktu bisa berubah.
              </li>
              <li class="py-2">
                Status barang pada website iuranku.com jika statusnya adalah "Out Of Stock" berarti barang tersebut tidak dapat dibeli karena persediaan tidak ada.
              </li>
              <li class="py-2">
                Pelanggan harus memastikan detail/informasi produk telah sesuai dengan spesifikasi yang dibutuhkan sebelum melakukan approval pada payment page.&nbsp;
              </li>
            </ol>
            <p class="py-6">
              <strong>VIII. Harga Produk dan Konfirmasi Pembelian/Pembayaran &nbsp; &nbsp; &nbsp;</strong>
            </p>
            <ol class="list-decimal list-inside">
              <li class="py-2">
                Harga produk yang harus dibayarkan adalah sebagaimana yang tertera pada keranjang belanja dan atau invoice pemesanan (payment page).&nbsp;
              </li>
              <li class="py-2">
                Apabila terdapat perubahan harga, maka harga yang berlaku adalah harga yang sesuai dengan informasi total belanja yang ditampilkan dalam payment page. &nbsp; &nbsp;&nbsp;
              </li>
            </ol>
            <p class="py-6">
              <strong>IX. &nbsp;Hak Milik Intelektual</strong>
            </p>
            <ol class="list-decimal list-inside">
              <li class="py-2">
                iuranku.com adalah pemegang semua hak atas website iuranku.com beserta isinya yang sah. Webiste &nbsp;dan isinya mencakup hak milik intelektual yang dilindungi oleh undang-undang hak cipta dan undang-undang lainnya yang melindungi kekayaan intelektual yang berlaku diseluruh dunia.
              </li>
              <li class="py-2">
                Website iuranku.com, ikon, logon yang merupakan merek dagang terdaftar di berbagai wilayah hukum dan dilindungi undang-undang tentang hak cipta, merek dagang dan hak milik kekayaan intelektual lainnya. Dilarang keras menggunakan dan mengubah merek tersebut tanpa seizin dari iuranku.com.
              </li>
            </ol>
          </div>
        </div>
      </div>
  </div>
</main>
<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
